@import "../../../node_modules/@blueprintjs/core/lib/less/variables";

body {
    background-color: @light-gray5;
    color: @dark-gray1;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body * {
    outline: none !important;
}

ul {
    list-style: none !important;
    padding: 0 0 0 1em;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

h4, h5, h6 {
    font-size: 0.9em;
}

.result, a {
    color: @blue1;
    border-bottom: 1px dotted transparent;
    text-decoration: none;
}

.result:hover, a:hover {
    cursor: pointer;
    color: @blue3;
    border-bottom: 1px dotted @blue3;
    text-decoration: none;
}

.article:before {
    content: "";
    border-color: transparent @gray1;
    border-style: solid;
    border-width: 0.25em 0 0.25em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1em;
    position: relative;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}

.inline-display > * {
    display: inline-block;
}

.align-center {
    text-align: center;
}

.pointer {
    &:hover {
        cursor: pointer;
    }
}

#main {
    display: grid;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header"
        "search"
        "results"
        "footer";
    justify-content: stretch;
}

#header {
    background-color: @dark-gray2;
    grid-area: header;
    text-align: center;
    padding: 8px;

    h1 {
        color: @white;
        font-size: 2em;
        margin: 0;
        padding: 0;
    }
}

#footer {
    grid-area: footer;
    background-color: @dark-gray2;
    text-align: center;
    padding: 5px;
}

// TABS
.pt-tabs {
    background-color: @dark-gray3;
    color: @light-gray5;
}

.pt-tab {
    font-size: inherit;
    color: @white;
}

.pt-tab[aria-selected='false'] {
    color: @gray2;
}

.pt-tab[aria-selected='true'], .pt-tab:not([aria-disabled='true']):hover {
    color: @light-gray5;
}

.pt-tab-indicator-wrapper .pt-tab-indicator {
    background-color: @gray5;
}

.pt-tab-list {
    background-color: @dark-gray2;
    text-align: center;
    justify-content: center;
    padding: 5px;

    * {
        flex: 1 1 20px;
        max-width: 200px;
    }
}

.pt-tab-panel {
    margin: 10px auto 10px auto;
    padding: 0 20px 0 20px;
}

// RESULTS GRID
#resultGrid {
    box-sizing: border-box;
    width: 100vw;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    display: flex;
    overflow: hidden;
}

#articlesListDiv {
    background-color: @light-gray4;
}

#articleDiv {
    background-color: @light-gray3;
}

#articlesListDiv, #articleDiv {
    box-sizing: border-box;
    padding: 30px;
    width: 50vw;
    overflow-y: scroll;
}

// ARTICLES
.entete {
    text-align: center;
    border-bottom: 1px dotted @gray4;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

.corps {
    text-align: justify;

    .articleHeader {
        text-align: center;
    }
}

em.highlight {
    background-color: @orange5;
    font-style: normal;
}

// INPUTS AND BUTTONS
.DayPicker {
    color: @gray4;
}

.DayPicker-Day--today {
    color: @blue3;
}

.DayPickerInput input {
    background-color: @blue1;
    color: @light-gray4;
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
    border: none;
    outline: none;
    margin: 0.5em;
}

.DayPickerInput input:hover, .DayPickerInput input:focus {
    background-color: @blue2;
}

.DayPickerInput input::placeholder {
    color: @gray5;
}

.DayPicker-Day--available:not(.DayPicker-Day--outside) {
    color: @dark-gray2;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    border-radius: 0%;
    background-color: @blue3;
    color: @light-gray5;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    position: relative;
    color: @light-gray3;
    background-color: @green5;
    border-radius: 0%;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    background-color: @green4;
}

button, input {
    font-size: 1em;
    text-align: center;
    padding: 0.5em 2em;
    border: none;
    margin: 5px;
    text-align: left;
}

input {
    background-color: @light-gray1;
    color: #293742;
    flex: 3 1 50%;
}

input:hover, input:focus {
    background-color: @light-gray2;
}

input::placeholder {
    color: @gray1;
}

button {
    background-color: @blue1;
    color: @light-gray2;
    text-align: center;
    flex: 1 1 20%;
}

button:hover {
    background-color: @blue2;
}

input[type='checkbox'] {
    width: 34px;
    heigh: 34px;
}

label.pt-label {
    margin: 0 10px 0 10px;
}

.pt-select select {
    background-color: @light-gray1;
    border-radius: 0px;
    height: 34px;
}

.pt-select::after {
    line-height: 1;
    font-family: Icons16, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 0;
    right: 7px;
    line-height: 30px;
    color: #5c7080;
    content: "\E6C6";
    pointer-events: none;
}

#textSearchBar {
    align-items: center;
    justify-content: center;
}

.input-group {
    background-color: @light-gray1;
    text-align: left;
    padding: 0px;
    heigth: 34px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    max-width: 1200px;
    // margin: 0 auto 0 auto;

    &.small {
        max-width: 350px;
        margin: 0 auto 0 auto;
        background-color: @blue2;

        &:hover {
            background-color: @blue3;
        }
    }

    .icon {
        font-size: 15px;
        background-color: @dark-gray5;
        height: 34px;
        box-sizing: border-box;
        padding: 7px 20px 7px 20px;
        color: @light-gray3;
    }

    .right-arrow {
        width:0;
        height:0;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 17px solid @dark-gray5;
    }

    input, button {
        box-sizing: border-box;
        height: inherit;
        margin: 0px;
    }

    .DayPickerInput {
        flex: 1 1 50%;

        input {
            width: 100%;

            &::placeholder {
                color: @gray3;
            }
        }
    }

    input {
        padding: 0.5em 2em 0.5em 2em;
        position: relative;
        box-sizing: border-box;
        flex: 1 1 50%;
        background-color: transparent;
    }

    input:hover, input:focus {
        background-color: transparent;
    }

    button {
        flex: 0 0 150px;
    }
}

.input-group:hover {
    background-color: @light-gray2;
}

// TABLES
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid @gray4;
    padding: 5px;
}
