@import "../../../node_modules/@blueprintjs/core/lib/less/variables";

body #apropos {
    background-color: @dark-gray2;
    color: @light-gray5;
    min-width: 100vw;
    min-height: 100vh;
    padding: 30px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;

    * {
        color: @light-gray5;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 1.5em;
    }

    a {
        color: @blue2;

        &:hover {
            border-bottom: 1px dotted @blue4;
            color: @blue4;
        }
    }

    p {
        font-size: 1.2em;
        max-width: 800px;
        margin: 20px auto 20px auto;
    }

    ul {
        list-style: disc !important;

        li {
            margin-bottom: 10px;
        }
    }
}
